$('#user_list').html("<%= escape_javascript(render 'user_list') %>");
$('#messages').replaceWith("<%= escape_javascript(render 'shared/flash') %>");
<% flash.clear %>
$('#messages div').prepend('<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>').find('.close').click(function () {
  $(this).parent().fadeOut();
  return false;
});
